.promiseSection {
  padding: 80px 20px;
  background-color: #fff;
  max-width: 1712px;
}

.sectionTitleWrap {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  padding-left: 20px;
}

.heartIcon {
  width: 36px;
  height: 36px;
  margin-right: 12px;
}

.sectionTitle {
  font-size: 28px;
  font-weight: bold;
  margin-top: -1px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: nowrap;
}

.promiseCard {
  position: relative;
  width: calc(33.33% - 16px);
  height: 670px;
  background-color: #e6f4ff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:nth-child(1) {
    background-color: #89dcff;

    img {
      width: 100%;
    }
  }

  &:nth-child(2) {
    background-color: #03502b;
    .cardText {
      color: #fff;
    }
  }

  &:nth-child(3) {
    background-color: #333;
    .cardText {
      color: #fff;
    }
  }
}

.cardLabel {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 2px 16px 16px;
  border-radius: 0 0 0 36px;
  background: #fff;
  z-index: 2;
  display: inline-block;
  white-space: nowrap;
  min-width: 120px;

  &::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -24px;
    width: 26px;
    height: 26px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26'%3E%3Cpath d='M0 2c13.3 0 24 10.7 24 24h2V0H0v2z' fill='%23fff' clip-rule='evenodd'/%3E%3C/svg%3E");
  }

  &::before {
    content: '';
    position: absolute;
    right: -1.7px;
    bottom: -23px;
    width: 26px;
    height: 26px;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 26 26'%3E%3Cpath d='M0 2c13.3 0 24 10.7 24 24h2V0H0v2z' fill='%23fff' clip-rule='evenodd'/%3E%3C/svg%3E");
  }

  .cardLabelText {
    font-size: 17px;
    letter-spacing: -1px;
    text-align: center;
    border-radius: 29px;
    line-height: 58px;
    width: 272px;
    height: 58px;
    margin: 2px 2px 0 0;

    &.labelBlue {
      background-color: #c2e7ff;
    }

    &.labelGreen {
      background-color: #00c774;
    }

    &.labelYellow {
      background-color: #ffd600;
    }
  }
}

.cardImage {
  width: 322px;
  object-fit: contain;
  position: relative;
  padding: 32px 40px 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cardText {
  font-size: 14px;
  color: #111;
  line-height: 1.6;
  padding-left: 20px;
  padding-bottom: 30px;
}

.buttonArea {
  position: absolute;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: -2px;
  right: -2px;
  padding: 16px 0 0 16px;
  border-top-left-radius: 36px;

  &::after {
    content: '';
    position: absolute;
    top: -24px;
    right: 0px;
    width: 26px;
    height: 26px;
    background: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNiAyNic+PHBhdGggZD0nTTI0IDBjMCAxMy4zLTEwLjcgMjQtMjQgMjR2MmgyNlYwaC0yeicgZmlsbD0nI2ZmZicgZmlsbC1ydWxlPSdldmVub2RkJyBjbGlwLXJ1bGU9J2V2ZW5vZGQnLz48L3N2Zz4=');
  }

  &::before {
    content: '';
    position: absolute;
    left: -24px;
    bottom: 0px;
    width: 26px;
    height: 26px;
    background: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCAyNiAyNic+PHBhdGggZD0nTTI0IDBjMCAxMy4zLTEwLjcgMjQtMjQgMjR2MmgyNlYwaC0yeicgZmlsbD0nI2ZmZicgZmlsbC1ydWxlPSdldmVub2RkJyBjbGlwLXJ1bGU9J2V2ZW5vZGQnLz48L3N2Zz4=');
  }
}
.arrowButton {
  position: relative;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  justify-content: center;
  transition: background-color 0.2s ease;
  cursor: pointer;
  margin: 0 2px 2px 0;

  &:hover {
    background-color: #444;
  }
}
