.layout {
  header {
    &.doc-header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      border: 0;
      background: #fff;
      transition: top 0.2s ease-in-out;
      z-index: 3000;
    }

    &.scroll {
      border-bottom: 1px solid #eee;
      z-index: 3100;
    }

    .inner_header {
      display: flex;
      align-items: center;
      position: relative;
      width: 1712px;
      margin: 0 auto;
      -webkit-box-pack: justify;
      justify-content: space-between;
      height: 91px;
    }

    a {
      text-decoration: none;
    }
  }

  header.open_gnb {
    border-bottom: 1px solid #eee;
    z-index: 5000;

    &::before {
      display: block;
      position: fixed;
      top: 92px;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5);
      content: '';
    }
  }

  footer {
    /* 상단 푸터 */
    &.footer {
      background: rgba(255, 255, 255.8);
      border-top: 1px solid #000;
    }

    .container {
      width: 1712px;
      margin: 0 auto;
      padding: 81px 0 48px;

      .container_inner {
        display: flex;
        display: -webkte-box;

        .wrap_service {
          position: relative;
          -webkit-box-flex: 1;
          flex: 1;

          h3 {
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            margin-bottom: 20px;
            font-size: 26px;
            line-height: 1.38;
            letter-spacing: 0.6px;
            font-weight: bold;
          }

          .sub_title {
            position: absolute;
            top: 56px;
            font-size: 16px;
            line-height: 1.75;
            letter-spacing: -0.5px;
            margin-bottom: 12px;
            color: #000;
            font-weight: bold;
          }

          .inner_service {
            .list_service {
              .item_service {
                margin-top: 8px;

                &:first-child {
                  margin-top: 0;
                }

                .link_service {
                  font-size: 14px;
                  color: #333;
                  line-height: 1.78;
                  letter-spacing: -0.2px;
                  text-decoration: none;

                  svg {
                    margin: 8px 0 0 4px;
                    stroke: #999;
                  }

                  &:hover {
                    color: #111;

                    svg {
                      stroke: #111;
                    }
                  }
                }
              }
            }
          }
        }

        .wrap_service.wrap_tags {
          padding-top: 56px;
        }

        .wrap_service.wrap_etc {
          padding-top: 97px;

          .inner_service {
            .list_service {
              .item_service {
                .link_service {
                  color: #888;

                  &:hover {
                    color: #111;
                  }
                }
              }
            }
          }
        }
      }
    }

    /* 하단 푸터 */
    /* 그룹 인포 */
    .section_relation {
      margin-top: 120px;

      .group_info {
        float: left;
        margin-left: -24px;

        .wrap_info {
          float: left;
          position: relative;
          line-height: 18px;
          margin-left: 24px;

          strong {
            font-size: 12px;
            letter-spacing: -0.2px;
            color: #888;
            line-height: 18px;
            display: block;
            cursor: pointer;

            &.link_info {
              color: #111;
            }

            svg {
              width: 9px;
              height: 9px;
              margin: 6px 0 0 4px;
            }
          }

          .list_subinfo {
            display: none;
            position: absolute;
            bottom: 30px;
            left: 0;
            padding: 16px 0;
            background: #eee;
            border-radius: 12px;

            li {
              a {
                display: block;
                padding: 0 20px;
                font-size: 12px;
                color: #666;
                white-space: nowrap;

                &:hover {
                  color: #111;

                  svg {
                    stroke: #111;
                  }
                }

                svg {
                  width: 9px;
                  height: 9px;
                  margin: 5px 0 0 4px;
                  stroke: #999;
                  stroke-width: 1.3;
                  vertical-align: top;
                }
              }
            }
          }

          &.open_info {
            .list_subinfo {
              display: block;
            }
          }

          a {
            font-size: 12px;
            letter-spacing: -0.2px;
            color: #888;
            text-decoration: none;

            .ico_arrow {
              width: 9px;
              height: 9px;
              margin: 6px 0 0 4px;
            }
          }
        }
      }
    }

    /* 푸터 페밀리사이트 */
    .wrap_relation {
      float: right;
      position: relative;
      width: 208px;

      .tit_relation {
        display: block;
        padding: 10px 20px 12px;
        background: #eee;
        border-radius: 24px;
        font-size: 12px;
        font-weight: 400;
        color: #000;
        line-height: 18px;
        letter-spacing: -0.2px;
        cursor: pointer;

        svg {
          float: right;
          width: 14px;
          height: 14px;
          margin-top: 3px;
          fill: #666;
        }
      }

      .list_subinfo {
        display: none;
        position: absolute;
        bottom: 52px;
        width: 100%;
        left: 0;
        padding: 16px 0;
        background: #eee;
        border-radius: 12px;

        li + li {
          margin-top: 12px;
        }

        li {
          a {
            display: block;
            padding: 0 20px;
            font-size: 12px;
            color: #666;
            white-space: nowrap;
            text-decoration: none;

            svg {
              width: 9px;
              height: 9px;
              stroke: #999;
              stroke-width: 1.3;
              margin: 5px 0 0 4px;
            }
          }
        }
      }

      &.info_open {
        .ico_plus {
          transform: rotate(-45deg);
        }

        .list_subinfo {
          display: block;
        }
      }
    }

    /* 푸터 인포 */
    .section_relation {
      .group_info {
        .wrap_info {
          margin-top: 6px;
        }
      }
    }

    /* 푸터 카피레이터 */
    .txt_copyright {
      display: block;
      padding-top: 6px;
      font-size: 13px;
      letter-spacing: -0.2px;
      color: #888;
      clear: both;

      a {
        color: #888;
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 1902px) {
  .layout {
    header {
      &.doc-header {
        .inner_header {
          width: 1316px;
        }
      }
    }

    footer {
      .container {
        width: 1316px;
      }
    }
  }
}

@media screen and (max-width: 1439px) {
  .layout {
    header {
      &.doc-header {
        .inner_header {
          width: 954px;
          height: 84px;
        }
      }
    }

    header.open_gnb {
      &::before {
        top: 85px;
      }
    }

    footer {
      .container {
        width: 952px;
        padding-top: 36px;

        .container_inner {
          display: block;
          margin: -30px 0 0 -16px;

          .wrap_service {
            display: inline-block;
            vertical-align: top;
            width: calc(25% - 16px);
            margin: 40px 0 0 16px;

            h3 {
              font-size: 18px;
              line-height: 1.55;
              letter-spacing: -0.5px;
            }

            .sub_title {
              top: 48px;
              font-size: 14px;
              line-height: 1.42;
            }
          }

          .wrap_service.wrap_tags {
            padding-top: 48px;
          }

          .wrap_service.wrap_etc {
            padding-top: 80px;
          }
        }
      }

      /* 그룹인포 */
      .group_info {
        width: 594px;
        margin-top: -6px;
      }

      /* 푸터 페밀리사이트 */
      .wrap_relation {
        .list_subinfo {
          width: 100%;
          bottom: 52px;
        }
      }

      .txt_copyright {
        padding-top: 12px;
      }
    }
  }
}
